<div class="col s12 m4 l4">
  <div class="card hoverable">
    <div class="card-image">
      <img src="img/placeholder.png"/>
    </div>
    <div class="card-content">
      <div class="chip">
        <img src="img/placeholder-user.png" alt="photographer"/>
        &nbsp;            &nbsp;
      </div>
      <a class="grey lighten-3 waves-effect btn-flat right">
        <i class="material-icons grey-text">favorite</i>
      </a>
    </div>
  </div>
</div>
