$ var brand = state.brand;
<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo grey-text">&nbsp; ${brand}</a>
    </div>
  </nav>
</div>
