<lasso-page package-path="./browser.json"/>
<app-main>
  <@body>
    <app-header brand="MarkoUnsplash"/>
    <div class="container">
      <!-- Page Content goes here -->
      <app-card-grid-builder input=data.query/>
    </div>
  </@body>
</app-main>
