<lasso-page package-path="./browser.json"/>
<app-main>
  <@body>
    <app-header brand='MarkoUnsplash'/>
    <div class="container">
      <!-- Page Content goes here -->
      <div class="row">
       <app-card/>
      </div>
    </div>
  </@body>
</app-main>
