<div class="row">
  <div class="input-field col s8 offset-s2">
    <input key='search_field' id="search" type="text" class="validate" placeholder=(state.placeholder ? "${state.placeholder}" : "Search") on-keyup('getKeyword')/>
  </div>
  <div class="input-field col s2">
    <button key="search_button" class="btn waves-effect waves-light hide pink" on-click('search')>
      <i class="material-icons">search</i>
    </button>
  </div>
</div>
