.input-field {
    margin-top: 30px;
}

input.validate {
    text-align: center;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid#f06292 !important;
    box-shadow: 0 1px 0 0 #f06292 !important;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #e91e63 !important; 
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
}

