<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Express Marko</title>
    <!-- CSS includes -->
    <lasso-head/>
  </head>
  <body>
    <!-- Top-level UI component: -->
    <include(input.body)/>
    <!-- JS includes -->
    <lasso-body/>
  </body>
</html>
