<app-search key="search"/>
<if(state.imageData)>
  $ var imageData = state.imageData;
  <div key="parent" class="row">
    <for(image in imageData)>
      <app-card data=image/>
    </for>
  </div>
  <app-loader/>
</if>
<else>
  <div class="row">
    <for(count from 0 to 2)>
      <app-card/>
    </for>
  </div>
</else>
